@font-face {
    font-family: openSans;
    src: url('./fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: openSansbold;
    src: url('./fonts/OpenSans-Bold.ttf');}
body, html{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}
*{
    font-family: "openSans", Tahoma, Geneva, Verdana, sans-serif;
}
.bold{
    font-family: "openSansbold", Tahoma, Geneva, Verdana, sans-serif!important;
}
.blue{
    background-color: #08a6b2;
}
.navbar{
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.397) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height:7%;
    z-index: 9999;
    border-radius: 0 0 20px 20px;
}
.navbar *, .navbar{
    z-index: 9999;
}
.navbar div{
    padding-left: 4%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 18pt;
    
}
.navbar span{
    font-size: 15pt;
    width: 65%;
    display: flex;
    justify-content: center;
}
.green{

    background: #5bd08c;
}
.titolo_attivo{
    top : 40px;
    z-index: 1;
    position: absolute;
    width: 100vw;
    height:8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titolo_attivo span{
    padding-top: 25px;
    font-size: 14pt;
    color: white;

}
.progress {
    border: 2px solid #a72713;
    
    border-radius: 100px;
    align-items: center;
    position:absolute;
margin-left:90px;
margin-top:-18px;
    padding: 0 3px;
    display: flex;
    height: 10px;
    width: 40px;
  }
  
  .progress-value {
    animation: load 250s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background-image: linear-gradient(#d95530,#a72713);
    height: 6px;
    width: 100%;
  }
.lighter{
    background: #ffffff;
}
.container{
    box-shadow: rgba(0, 0, 0, 0.397) 0px 3px 8px;
    border-radius: 10px;
    width:90%;
    margin-left: auto;
    margin-right:  auto;
    margin-top: 65px;
}
.container_header{
    padding: 5px 20px;
    color: #08a6b2;
    font-size: 13pt;
    font-weight: 900;
}
.info{
    color: white!important;
    height: 190px;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    font-size: 5pt;
}
.info span{
    font-size: 12pt;
    padding-top: 10px;
    color: black;
}
.video{
    margin: 0 auto;
    width: 90vw;
    height: 80px;
}
video{
    
    padding-top: 30px;
    height: 50px;
    width: 100%;
    object-fit: fill;
}
.box{
    margin-top: 20px;
    height:40px;
    width:90vw;
    margin:0 auto;
    border-radius: 5px;
}
.left_info{
    width: 70%;
    padding: 10px 20px;
    font-weight: 400!important;
    color:black!important;
    display: flex;
    flex-direction: column;
}
.right_info{
    width: 30%;
    padding: 10px ;
    padding-left: 20px !important;
    font-weight: 400!important;
    color:black!important;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.gray{
    background-color: rgb(237 237 237);
}
.prezzo{
    margin-top: 10px;
    font-weight: 600;
    color:black;
    padding: 0 20px;
}
.id_logo{
    padding-bottom: 0!important;
    display: flex;
    align-items: center;
    gap:30px;
}
.usati_box{
    box-shadow: rgba(0, 0, 0, 0.397) 0px 3px 8px;
    width:85vw;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
}
/* BIGLIETTI */
.upper_container{
    font-size: 13pt;
    padding: 0 45px;
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
    color:#08a6b2;
    align-items: center;
    gap:200px;
}
.upper_container div{
    border: 2px solid #08a6b2;
    height: 14px;
    padding:6px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}
.main_container{
    background:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.397) 0px 3px 8px;
    width:85vw;
    margin: 0 auto;
    height:fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.blue_indicator{
    margin-bottom: 5px;
    height:10px;
    background: #08a6b2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.logo_strip{
    font-size: 15pt;
    color:#08a6b2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:90px;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}
.info_container{
    padding-left: 10px;

}
.info_container h5{
    margin-top: 10px;
    color:#08a6b2;
    margin-bottom: 1px;
    font-size: 12pt;
}
.info_container span{
    padding-top: -60px;
    color:rgb(0, 0, 0);
    font-size: 10pt;
}
